<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Core</title>
</head>
<body>
  <h1>Lista de voluntários</h1>
 <ul>
  {% for pessoa in pessoas %}
    <li> {{ pessoa.id }} - {{ pessoa.nomeVoluntario }} <a href="{% url 'editar' pessoa.id %}" > Editar</a>
    <a href="{% url 'delete' pessoa.id %}">Deletar</a>
    </li> 
  {% endfor %}
 </ul>

 <form action="{% url 'salvar' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="nomeVoluntario">
    <button type="submit">Salvar</button>
 </form>

</body>
</html>